/* line 1, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail-container {
  display: flex;
}

/* line 5, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 11, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail-top {
  display: flex;
  justify-content: flex-start;
}

/* line 16, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.cover-shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 22, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-cover {
  margin: 40px;
}

/* line 26, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-shopping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 32, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.shopping-link {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: grey;
}

/* line 39, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.shopping-link:hover {
  text-decoration: underline;
}

/* line 43, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.kobo {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

/* line 48, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 54, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail-title {
  font-size: 33px;
  margin: 40px 30px 30px 30px;
  text-align: center;
}

/* line 60, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail-author {
  font-size: 20px;
  padding: 10px;
}

/* line 65, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-publisher {
  padding: 5px;
}

/* line 69, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-date {
  padding: 5px;
}

/* line 73, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-detail-bottom {
  display: flex;
  align-items: center;
}

/* line 78, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_book_detail.scss */
.book-description {
  width: 50%;
  margin: 45px 65px;
}
