/* line 1, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_my_readstatus.scss */
.readstatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 7, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_my_readstatus.scss */
.rs-text {
  text-align: center;
  font-weight: bold;
}

/* line 12, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_my_readstatus.scss */
.rs-list {
  text-align: center;
}

/* line 16, /Users/nandini/app_academy/course_work/full_stack_project/BookAddict/app/assets/stylesheets/components/_my_readstatus.scss */
.rs-list li {
  margin: 3px;
  padding: 4px;
}
