.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 1.5s ease;
  background: #FBFCCF;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 30px;
  text-align: left;
  color: grey;
}

.book-list-item {
  display: flex;
  flex-wrap: wrap;
}

.book-tile {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.book-image {
  height: 450px;
  width: 298px;
  margin-bottom: 25px;
  box-shadow: 8px 8px 5px #888888;
  -webkit-filter: brightness(100%);
}

.book-image:hover {
  -webkit-filter: brightness(70%);
}
