.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 1.5s ease;
  background: #f5f5f4;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 10px 10px 70px;
  text-align: left;
  color: grey;
}

.book-list-item {
  display: flex;
  flex-wrap: wrap;
}

// .book-list-set {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .infinite-grid {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

.book-tile {
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.book-list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 17px 10px 17px;
  border-radius: 7px;
  background: rgba(218, 214, 208, 0.45);
  -webkit-filter: brightness(100%);
  box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.39);
  height: 350px;
}

.book-image {
  height: 300px;
  width: 200px;
  margin-bottom: 5px;
}

.book-list-title {
  font-size: 14px;
  font-weight: bold;
  width: 198px;
  margin: 2px;
  color: #804b23;
  text-align: center;
}

.book-list-author {
  font-size: 12px;
  font-weight: normal;
  width: 198px;
  margin: 2px;
  color: #a26767;
  text-align: center;
}

.book-list-rating {

}

.book-list-link:hover {
  -webkit-filter: brightness(70%);
}

@media all and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    text-align: center;
    margin: 0;
  }

  .book-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
