.bookshelves {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bs-text {
  text-align: center;
  font-weight: bold;
  color: #6f5353;
  font-size: 17px;
  padding-top: 20px;
  border-top: 1px solid grey;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.bs-list {
  text-align: left;
}

.bs-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bs-name {

}

.bs-list-item {
  margin: 5px;
  padding: 4px 7px;
  color: #827a7a;
  border-radius: 3px;
  font-size: 15px;
}

.bs-list-item:hover {
  background: #e0e0e0;
  cursor: pointer;
}

.delete-bookshelf {
  color: #827a7a;
}

.delete-bookshelf:hover {
  cursor: pointer;
}

.add-bookshelf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-bookshelf-text {
  color: #6f5353;
  font-size: 15px;
  margin: 5px;
  margin-top: 15px;
}

.add-shelf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.add-shelf-input {
  margin: 4px;
  width: 95px;
  height: 13px;
  border-radius: 4px;
  border: 1px solid #e6dac4;
  box-shadow: 1px 1px 1px #dcd6d6;
  padding: 5px;
  color: #827a7a;
  font-size: 13px;
}

.add-shelf-button {
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
  color: #6f5353;
  background: rgba(207, 158, 73, 0.58);
  font-size: 13px;
}
