.readstatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-text {
  text-align: center;
  font-weight: bold;
  color: grey;
  text-decoration: underline;
}

.rs-list {
  text-align: center;
}

.rs-list li {
  margin: 5px;
  padding: 5px;
  color: darkgrey;
  border-radius: 3px;
}

.rs-list li:hover {
  background: #FADEA5;
  cursor: pointer;
}
