.readstatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-text {
  text-align: center;
  font-weight: bold;
  color: #6f5353;
  text-decoration: underline;
  font-size: 14px;
}

.rs-list {
  text-align: center;
}

.rs-list li {
  margin: 5px;
  padding: 2px;
  color: #827a7a;
  border-radius: 3px;
  font-size: 13px;
}

.rs-list li:hover {
  background: #e0e0e0;
  cursor: pointer;
}
