.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  border-bottom: 2px solid #d2cfcf;
}

.logo-div {

}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-all-books {
  font-size: 18px;
  margin: 8px;
  color: grey;
  margin: 0 40px;
}

.greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 25px;
}

.greet-user {
  font-size: 18px;
  margin: 8px;
  color: grey;
}

.logout-button {
  background: rgb(181, 219, 243);
  margin: 8px;
  padding: 10px;
  height: 20px;
  color: grey;
  border-radius: 6px;
}

.logout-button:hover {
  background: #6AA0C4;
}
