.nav {
  display: flex;
  justify-content: space-between;
  // background: linear-gradient(rgba(0, 196, 255, 0.45), rgb(184, 243, 186));
  background: linear-gradient(#A0C5F9, #FBFCCF);
  align-items: center;
}

.logo-div {

}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-all-books {
  font-size: 18px;
  margin: 8px;
  color: grey;
  text-decoration: underline;
  margin: 0 40px;
}

.greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 25px;
}

.greet-user {
  font-size: 18px;
  margin: 8px;
  color: grey;
}

.logout-button {
  background: #A0C5F9;
  margin: 8px;
  padding: 10px;
  height: 20px;
  color: grey;
  border-radius: 6px;
}

.logout-button:hover {
  background: #6AA0C4;
}
