.search-div {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3c795;
  border-radius: 4px;
}

.search-icon {
  color: #e3c795;
  padding: 0 7px;
}

.search-input {
  margin: 4px;
  width: 200px;
  height: 20px;
  padding: 3px 0;
  color: #827a7a;
  font-size: 17px;
}
