.search-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(195, 190, 180, 0.18);
  border-radius: 4px;
  box-shadow: 2px 2px 1px #dcd6d6;
}

.search-icon {
  color: #e3c795;
  padding: 0 7px;
}

.search-input {
  margin: 4px;
  width: 200px;
  height: 20px;
  padding: 3px 0;
  color: #827a7a;
  font-size: 17px;
}
