.splash-container {
  position: relative;
  width: 100%;
  height: 800px;
  background: url("http://res.cloudinary.com/dt72mzjpx/image/upload/c_scale,h_333,w_500/v1484196951/splash_image_qfqzoa.jpg");
  background-size: cover;
}

.logo-image {
  height: 34px;
  width: 142px;
  padding: 15px;
}

.splash-items {
  position: absolute;
  top: 25%;
  left: 37%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.splash-text {
  font-size: 50px;
  color: white;
  background: transparent;
  text-align: center;
  margin-bottom: 10px;
}

.button {
  background-color: rgb(33, 127, 162);
  padding: 13px;
  border-radius: 7px;
  font-size: 19px;
  color: white;
  width: 70px;
  text-align: center;
  margin: 0 20px;
}

.button:hover {
  background-color: #44a4c7;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  margin: 18px;
}

.top-auth-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 0 10px 0;
  padding: 20px;
}

.guest-button {
  margin: 10px;
}

.auth {
  display: flex;
  flex-direction: column;
  background: rgba(164, 201, 208, 0.54);
  border-radius: 19px;
  padding-top: 12px;
  height: 100%;
  width: 320px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.authform {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  height: 100%;
}

.auth-text {
  text-align: center;
  font-size: 16px;
  color: #5f5656;
}

.use-as-guest {
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  color: blue;
}

.use-as-guest:hover {
  cursor: pointer;
}

.alternate-auth-text {
  color: blue;
  text-decoration: underline;
  font-size: 16px;
}

.username {
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  margin: 10px;
}

.password {
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  margin: 10px;
}

.submit-button {
  margin: 10px;
}

.errors {
  color: #f10857;
  text-align: center;
  font-size: 13px;
  margin-top: 2px;
}

.errors ul li {
  padding: 1px;
}
